.backContainer {
  display: flex;
  justify-content: flex-start;
  width: 30%;
  gap: 1rem;
  cursor: pointer;
  margin: 50px 0 0 50px;
  align-items: center;
}
.backContainer:hover {
  font-weight: 700;
  opacity: 1;
}
.icon {
  font-size: 3.5rem;
  color: black;
  opacity: 0.9;
}
.title {
  display: flex;
  justify-content: center;
  font-size: 2.3rem;
  color: black;
  align-items: center;
  gap: 1rem;
}
