.formContainer{
    display: flex;
    position: absolute;
    width: 552px;
    height: 366px;
    left: 532px;
    top: 158px;
    background-color: #8ca388;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #131713;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.8) 15px 15px 50px;
}

.formHeader {
    padding-bottom: 10px;
}

.input textarea{
    border: 0;
    outline: none;
    width: 280px;
}

.field{
    border: solid 1px #ccc;
    padding: 10px;

    
}

.field:focus{
    border-color: #18A383;
}

.center-content{
    text-align: center;
}

.submitButton { 
    
}


