/*--------------------NAVBAR--------------------*/
.nabvarContainer {
  display: flex;
  background: var(--black);
  width: 100%;
  height: 111px;
  align-items: center;
}
.navbarLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 50%;
  color: yellow;
  font-size: 1.5rem;
}
.navbarMenu {
  display: flex;
  gap: 20px;
  color: var(--white);
  margin-inline-start: auto;
  gap: 50px;
  font-size: 2rem;
  align-items: center;
}

.navbarMenuLogin {
  background: var(--green);
  height: 40px;
  border-radius: 10px;
  padding: 5px 25px;
  cursor: pointer;
}

/*--------------------RESPONSIVE NAVBAR--------------------*/
@media (max-width: 439px) {
  .navbarMenu {
    font-size: 1.2rem;
  }
  .navbarMenuLogin {
    height: 30px;
  }
  .navbarLogo {
    width: 20%;
    height: 35%;
  }
  .contact {
    display: none;
  }
}

@media (min-width: 440px) and (max-width: 570px) {
  .navbarMenu {
    font-size: 1.5rem;
  }
  .navbarMenuLogin {
    height: 30px;
  }
  .navbarLogo {
    width: 15%;
    height: 30%;
  }
}
@media screen and (max-width: 471px) {
  .navbarMenu {
    font-size: 1.2rem;
  }
}

/*--------------------MAIN APP--------------------*/

.mainInfo {
  background-image: url("https://static8.depositphotos.com/1007963/901/i/450/depositphotos_9016630-stock-photo-set-of-manual-tools-over.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 0;
}
.mainInfoApp {
  font-size: 20px;
  color: var(--white);
  padding: 30px 20px;
}
.mainInfoApp h1 {
  background-color: var(--black);
  opacity: 0.7;
  padding: 60px 40px;
  border-radius: 15px;
}
.mainGoHome {
  background-color: var(--green);
  height: 45px;
  border-radius: 10px;
  padding: 5px 25px;
  color: var(--white);
  font-size: 2.5rem;
  margin-top: 20px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  z-index: 1;
}
.mainGoHome:hover {
  background-color: #32cd32;
}
.toolsM {
  text-align: center;
}

/*--------------------RESPONSIVE MAIN--------------------*/
@media (max-width: 439px) {
  .mainInfoApp {
    font-size: 1.5rem;
  }
  .mainInfoApp h1 {
    font-size: 1.5rem;
    padding: 30px 20px;
  }
  .mainGoHome {
    font-size: 1.5rem;
    height: 30px;
    transform: translateX(-50%);
    bottom: 1rem;
    z-index: 1;
  }
}

@media (min-width: 440px) and (max-width: 549px) {
  .mainGoHome {
    font-size: 1.5rem;
    height: 30px;
    transform: translateX(-50%);
    bottom: 1rem;
    z-index: 1;
  }
}

/*--------------------MAIN SPONSORS--------------------*/
.sponsorsTitle {
  font-size: 3rem;
  text-align: center;
  padding-top: 80px;
  font-weight: 500;
}
.sponsorsLogos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  width: 100%;
  height: auto;
  padding: 30px 20px;
  display: flex;
  margin-top: 60px;
  gap: 10rem;
}

/*--------------------RESPONSIVE SPONSORS--------------------*/
@media screen and (max-width: 549px) {
  .sponsorsTitle {
    display: none;
  }
  .sponsorsLogos {
    display: none;
  }
}

/*----------------------FOOTER----------------------*/
.footer {
  display: flex;
  background: var(--black);
  width: 100%;
  height: 111px;
  justify-content: space-around;
  align-items: center;
  position: relative;
  bottom: 0;
}
.footerRights,
.footerTerms {
  color: var(--white);
}

.footerLogo {
  color: yellow;
  font-size: 1rem;
}

.footerTerms Link:hover {
  color: yellow;
  cursor: pointer;
}

/*--------------------RESPONSIVE FOOTER--------------------*/
@media (max-width: 439px) {
  .footerLogo {
    width: 15%;
    height: 30%;
  }
  .footerRights,
  .footerTerms {
    font-size: 1.2rem;
    text-align: center;
  }
}

@media (min-width: 440px) and (max-width: 549px) {
  .footerLogo {
    width: 12%;
    height: 25%;
  }
  .footerRights,
  .footerTerms {
    font-size: 1.2rem;
  }
}
