.cardContainer {
  border-radius: 15px;
  width: 275px;
  height: 440px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.title {
  display: none;
  position: absolute;
  bottom: -25px;
  padding: 5px 10px;
  background-color: var(--black);
  border-radius: 10px;
  color: var(--white);
  width: auto;
  left: 0;
}

.cardContainer:hover .title{
  display: flex;
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cardImage {
  width: 225px;
  height: 225px;
  border-radius: 10px;
  object-fit: contain;
}

.cardContent {
  display: flex;
  gap: 15px;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.cardName {
  font-size: 2rem;
  color: var(--black);
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-transform: capitalize;
}

.cardPrice {
  font-size: 3rem;
  font-weight: bold;
}

.saleTypeContent {
  display: flex;
  justify-content: space-between;
}

.cardPriceValue {
  font-size: 1.5rem;
  font-weight: bold;
}

.priceType {
  display: grid !important;
  align-items: flex-start !important;
  justify-content: flex-start !important;
  grid-template-columns: 1fr !important;
  grid-template-rows: 1fr !important;
  grid-template-areas: "price" !important;
  gap: 10px;
}
.cardInfo {
  width: 100%;
  border-radius: 20px;
  gap: 15px;
}

/* ---------- FAVORITOS ---------- */
.favoriteIconWrapper {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}

.favoriteIcon {
  font-size: 35px;
  color: var(--white-dark);
  cursor: pointer;
  padding: 4px;
  margin-inline-start: auto;
  border-radius: 50%;
  border: 2px solid white; /* Agregado: borde verde */
  background-color: white; /* Agregado: fondo blanco */
}

.favoriteIcon:hover {
  background-color: white; /* Agregado: al pasar el cursor, fondo verde */
  color: var(--orange);
}

.favoriteIconActive {
  font-size: 35px;
  color: var(--white-dark);
  cursor: pointer;
  padding: 4px;
  margin-inline-start: auto;
  border-radius: 50%;
  color: var(--orange); /* Modificado: color verde */
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}
.favoriteIconActive:hover {
  transform: scale(1.1);
}

.favoriteContainer {
  position: absolute;
  right: 15px;
  width: fit-content;
  height: fit-content;
}

/* ---------- RESPONSIVE ----------*/

@media (max-width: 390px) {
  .cardContainer{
    margin-top: 20px;
    height: 50%;
  }
  .imageContainer img {
    max-width: 70%;
    height: auto;
    padding-top: 30px;
  }
  .cardPrice{
    font-size: 2.5rem;
  }
  .cardName{
    font-size: 2rem;
  }
}

@media (max-width: 700px) {
  .cardContainer {
    height: 100%;
    margin: 0 auto;
  }
  .cardImage {
    width: 100%;
    height: 100%;
  }
  .cardContent {
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .cardName {
    font-size: 2rem;
  }
  .cardPrice {
    font-size: 2rem;
  }
  .cardPriceValue {
    font-size: 1rem;
  }
  .saleTypeContent {
    flex-direction: column;
    justify-content: space-between;
  }
  .favoriteIconWrapper {
    top: 5px;
    left: 5px;
  }
  .favoriteIcon {
    font-size: 25px;
  }
  .favoriteIconActive {
    font-size: 25px;
  }
  .favoriteContainer {
    right: 5px;
  }
}
