.cards_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4rem;
  width: 100%;
}
.noCards {
  text-align: center;
}
.text-center {
  font-size: 2rem;
}

@media (max-width: 1600px) {
  .cards_container {
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
  }
}

@media (max-width: 1300px) {
  .cards_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1000px) {
  .cards_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 8rem;
    margin-top: 3rem;
  }
}

/* ---------- RESPONSIVE ----------*/

@media (max-width: 390px) {
  .cards_container {
    display: block;
    flex-direction: column;
    align-items: center;
  }
}


@media (max-width: 700px) {
  .cards_container {
    display: flex;
    flex-direction: column;
  }
  .text-center {
    font-size: 1.5rem;
  }
}
