/*---------------------CART-CARDS---------------------*/
.cartContainer{
    display: flex;
}
.cartTitle{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 20px;
}
.cardCart{
    display: inline-block;
    margin-right: 20px;
    margin-top: 30px;
      
}
.cardCart img{
    width: 200px;    
    height: 200px;
    gap: 10px;
}
.cartDate{
    color: black;
}
.cardList {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .cartTitle2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 1.5rem;
}

.cardCart2{
    display: inline-block;
    margin-right: 20px;
    margin-top: 80px;
    margin-left: 0;
}

.cardCart2 img{
    width: 200px;    
    height: 200px;
}

.cartDate2{
    color: black;
}

.cartList2 {
    background-color: #535E53;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; /* Modificación */
    align-items: flex-start;
    margin-top: 1.5rem;
}
.cardDelete{
    color: red;
}

.buying{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50px;
}
.buying1{
    background-color: #F0960E;
    color: #DCF1D9;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.buying2{
    background-color: #131713;
    color: #DCF1D9;
    
}
.buying1, .buying2{
    width: 250px;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
}