.cartContainer{
    display: flex;
    justify-content: space-between;
}
.cartContainer h2{
    font-size: 3rem;
    font-weight: 700;
    color: var(--black-light);
}
.container{
    min-height: 100vh;
    padding: 50px;
}
.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}
.cartCards{
    background-color: var(--black-light);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem;
    width: 635px;
    border-radius: 20px;
}
.cartItem{
    height: 124px;
    display: flex;
    gap: 2.5rem;
    width: 100%;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
}
.cartItemImg{
    border-radius: 10px;
}
.cartDetailContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.cartItemDetail{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.cartItemTitle{
    font-size: 2.4rem;
    font-weight: 700;
}
.cartItemPrice{
    font-size: 2rem;
    font-weight: 500;
    color: var(--black-light);
}
.cartAmount{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
    font-weight: 800;
    font-size: 2.4rem;
    color: var(--white);
}
.cartButton{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
    width: 100%;
    color: #fff;
}
.cartButton button{
    width: 202px;
}
.cartButton button:nth-child(1):hover{
    width: 204px;
}