.filter,
.order,
.country {
  position: absolute;
  left: 0;
  top: 43px;
  width: 100%;
  background: var(--black);
  color: var(--white);
  display: none;
}

.filter button,
.order button,
.country button {
  width: 100%;
  border-radius: 0px;
  border-bottom: 1px solid var(--white);
  text-transform: capitalize;
}

.clearButton{
  width: 100%;
  border-radius: 0px;
  border-bottom: 1px solid var(--white);
  text-transform: capitalize;
  
}

.button div {
  width: 265px;
}

.button:hover .filter,
.button:hover .order,
.button:hover .country {
  display: flex;
  flex-direction: column;
}

.type,
.category,
.brand,
.country {
  display: none;
}

.button:hover .country {
  display: flex;
  flex-direction: column;
}

.subButton:hover .type,
.subButton:hover .category,
.subButton:hover .brand {
  display: flex;
  flex-direction: column;
}

button.selected {
  background-color: var(--white);
  color: black;
}

.clear {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear span {
  margin-right: 2px;
  margin-left: 2px;
}

.clear span {
  margin-right: 4px;
  white-space: nowrap;
}

.clearbtn {
  background-color: var(--black);
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 20px;
  font-size: 3rem;
}

.filterContainer{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.filterDistance {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}


/* /////////////////////////////////////////////////////////// */

@media (max-width: 1400px){
  .filterContainer {
    padding: 0 30px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .filterContainer div:hover {
    z-index: 1;
  }

  .filterDistance {
    justify-content: center;
  }
}

/* .window,
.window2 {
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: absolute;
    background-color: var(--white);
    width: 237px;
    padding: 10px;
}

.window2 {
    top: 44px;
    left: 0;
}

.window {
    top: 230px;
}

.filter {
    display: flex;
    width: 100%;
} */
