@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --black: #131713;
  --white: #DCF1D9;
  --orange: #F0960E;
  --white-dark: #BDCFBA;
  --black-light: #535E53;
  --green: #21BF60;
    --red: #EF3A3A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  color: var(--black);
  background: var(--white);
}
ul li{
  list-style: none;
}