@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --black: #131713;
  --white: #dcf1d9;
  --orange: #f0960e;
  --white-dark: #bdcfba;
  --black-light: #535e53;
  --green: #21bf60;
  --red: #ef3a3a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

button {
  padding: 15px 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  color: var(--white);
  padding: 15px 30px;
  height: 49px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black);
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

button {
  padding: 15px 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  color: var(--white);
  height: 49px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: var(--white);
  color: var(--black);

  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  font-size: 1.6rem;
  color: var(--black);
  background: var(--white);
  position: relative;
  overflow-x: hidden;
}
ul li {
  list-style: none;
}
