.searchbar {
  display: flex;
  height: 49px;
}

.searchbar input {
  border-radius: 15px 0 0 15px;
  padding-left: 20px;
  max-width: 400px;
  width: 100%;
}

.searchbar div {
  border-radius: 0 15px 15px 0;
  background-color: var(--green);
  width: 49px;
  display: grid;
  place-items: center;
}


