.searchbar {
  display: flex;
  height: 45px;
}

.searchbar input {
  border-radius: 8px 0 0 8px;
  padding-left: 20px;
  max-width: 350px;
  width: 100%;
  
}
.icon button{
  border-radius: 0 10px 10px 0;
  height: 45px;
}

/* .searchbar div {
  border-radius: 0 8px 8px 0;
  background-color: var(--green);
  width: 49px;
  display: grid;
  place-items: center;
} */
.searchButton {
  background: var(--green);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 49px;
  height: 30px;
  color: whitesmoke; /* color del icono */
  transition: background-color 0.3s ease;
}

.searchButton:hover,
.searchButton:focus {
  background-color: var(--green-hover); /* color de fondo en hover y focus */
}

.searchButton:focus {
  outline: none;
}

.searchButton svg {
  fill: currentColor;
}
