.termsContainer {
  min-height: 100vh;
  padding: 100px;
  margin: 0 auto;
}
.termsContainer h3 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  text-align: center;
  gap: 1rem;
}
.termsTitle {
  text-align: center;
  font-size: 4rem;
  margin: 3rem 0;
  font-weight: 500;
}
.termsSubHeader {
  font-size: 2rem;
  margin: 2rem 0;
  color: var(--white);
  padding: 3rem;
  border-radius: 10px;
  background-color: var(--black-light);
  display: grid;
  grid-template-columns: repeat(2, 4fr);
  gap: 2rem;
}

.termsSubHeader > div {
  break-inside: avoid-column;
}
.termsSubHeader > div:last-child {
  grid-column: span 2;
  text-align: center;
}

.mptyc {
  text-align: center;
  align-items: center;
}

.logoContainer {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.logo {
  width: 100%;
  height: 100%;
}

.brand {
  font-weight: 900;
  color: orange;
}
