.backContainer {
  margin-top: 25px;
}
.termsContainer {
  min-height: 100vh;
  padding: 100px;
  margin: 0 auto;
}
.termsContainer h3 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  text-align: center;
  gap: 1rem;
}
.termsTitle {
  text-align: center;
  font-size: 4rem;
  margin: 3rem 0;
  font-weight: 500;
}
.termsSubHeader {
  font-size: 2rem;
  margin: 2rem 0;
  color: var(--white);
  padding: 3rem;
  border-radius: 10px;
  background-color: var(--black-light);
  display: grid;
  grid-template-columns: repeat(2, 4fr);
  gap: 2rem;
}

.termsSubHeader > div {
  break-inside: avoid-column;
}
.termsSubHeader > div:last-child {
  grid-column: span 2;
  text-align: center;
}

.mptyc {
  text-align: center;
  align-items: center;
}

.logoContainer {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.logo {
  width: 100%;
  height: 100%;
}

.brand {
  font-weight: 900;
  color: orange;
}

/* ---------- RESPONSIVE ---------- */
@media screen and (max-width: 768px) {
  .termsContainer {
    padding: 50px;
  }
  .termsTitle {
    font-size: 2.5rem;
  }
  .termsSubHeader {
    font-size: 1.5rem;
    padding: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .termsSubHeader > div:last-child {
    grid-column: span 1;
  }
  .logoContainer {
    width: 50px;
    height: 50px;
  }
  .logo {
    width: 50px;
    height: 50px;
  }
  .termsContainer h3 {
    font-size: 2rem;
    
  }
  .term10{
    text-align-last: start;
    padding: 0;
    margin: 0;
  }
}
  
@media screen and (max-width: 390) {

  .termsTitle {
    font-size: 2rem;
  }
 
}



/* -------------------------------- */