.section {
  width: 100%;

  padding-left: 32px;
  padding-top: 52px;
  padding-bottom: 108px;
}

.sectionTitle {
  margin-left: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  margin-top: 52px;
  margin-bottom: 52px;
  letter-spacing: 0.045em;
}

.sectionTitleH3 {
  margin-left: 32px;
  margin-top: 52px;
  margin-bottom: 52px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  letter-spacing: 0.045em;
}

.sectionsContainer {
  display: flex;
  justify-content: center;
  column-gap: 32px;
}

.sectionsContainer > section {
}

.sectionsContainer > section:nth-child(1) {
  width: 60%;
  background-color: var(--white-dark);
  padding: 32px;
}
.sectionsContainer > section:nth-child(2) {
  width: 30%;
  padding: 32px;
  background-color: var(--white-dark);
}

.imageContainer {
  width: 254px;
  height: 254px;
  border-radius: 50%;
  overflow: hidden;
}

.userContainer {
  display: flex;
  justify-content: space-between;
}

.userDataContainer {
  display: flex;
}
.userDataContainer div {
  margin-left: 32px;
}

.userDataContainer h2 {
  margin-bottom: 32px;
}

.buttonContainer {
  padding: 21px 83px;
}

.editButton {
  display: flex;

  justify-content: center;
  align-items: center;
  background: #131713;
  border-radius: 58px;
  width: 302px;
  height: 66px;
  color: var(--white);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
  transition: all 0.3s ease-in-out;
}

.editButton:hover {
  background-color: var(--green);
  border-color: var(--green);
}
