.section {
  width: 100%;
  min-height: 100vh;
  padding-left: 32px;
  padding-top: 52px;
  padding-bottom: 108px;
}

.imageContainer {
  width: 254px;
  height: 254px;
  border-radius: 50%;
  overflow: hidden;
}

.userContainer {
  display: flex;
  justify-content: space-between;
}

.userDataContainer {
  display: flex;
}
.userDataContainer div {
  margin-left: 32px;
}

.userDataContainer h2 {
  margin-bottom: 32px;
}

.buttonContainer {
  padding: 21px 83px;
}

.editButton {
  display: flex;

  justify-content: center;
  align-items: center;
  background: #131713;
  border-radius: 58px;
  width: 302px;
  height: 66px;
  color: var(--white);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
  transition: all 0.3s ease-in-out;
}

.editButton:hover {
  background-color: var(--green);
  border-color: var(--green);
}
