.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 248px;
    background-color: var(--black-light);
    border-radius: 20px;
    color: var(--white);
}

.section.active {
    background-color: antiquewhite;
}

.section div p {
    font-size: 16px;
    margin: 0;
    text-align: center;
    font-weight: 200px;
}

.section div {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: var(--black-light);
    width: 450px;
    min-height: 108px;
    padding: 10px;
    border-radius: 10px;
}