.section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 334px;
  margin-bottom: 49px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonSubmit {
  width: 80%;
  height: 56px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
  margin: 0 16px;
  color: var(--white);
  background: #131713;
  border-radius: 58px;
}

.buttonSubmit:disabled {
  opacity: 0.5;
}

.inputContainer input {
  width: 100%;
  height: 35px;
  padding: 16px;
}

.inputContainer label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  color: #131713;
}

.inputContainer p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  color: red;
}

.IoCaretBack {
  color: var(--white);
  background-color: var(--orange);
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-top: 32px;
  margin-left: 32px;
}

.backContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 32px;
  gap: 1rem;
  cursor: pointer;
}
.backContainer h3 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  color: var(--black-light);
  align-items: center;
  gap: 1rem;
}
.back {
  width: 70px;
  height: 70px;
  padding: 10px;
  background-color: var(--orange);
  border-radius: 20px;
}

@media (max-width: 576px) {
  .inputContainer {
    width: 90%;
    justify-content: center;
    align-items: center;
  }

  .formChangePassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
  }
}
