.teamContainer{
    background-color: #DCF1D9;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.infoTeam{
    font-size: 20px;
    padding: 30px 20px;
    text-align: center;
}
.teamTitle{
    font-size: 1.5rem;
    font-weight: 700;
    color: #131713;
}
.teamSubTitle{
    padding-top: 20px;
    color: #131713;

}
.mainMembers{
    display: flex;

    padding-left: 5rem;
}
.teamContact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 50%;
    max-width: 1000px;
    margin: 1rem;
    text-align: center;
}

.teamImage {
    display: inline-table;
    width: 100%;
    height: auto;
  }
.teamImage{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 20px;
  }
  
  .teamName{
    margin-top: 20px;
    color: #131713;
    font-size: 1.5rem;
  }
  
  .teamLinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
  }
  
  .teamLinks a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    position: relative;
    color: #0d4491;
  }
  
  .teamLinks a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background-color: #0d4491;
  }
  .github{
    width: 45px;
  }
  .linkedin{
    height: 40px;
  }
