.info {
  text-align: center;
  margin-bottom: 70px;
  font-size: 4rem;
}

/* ---------- Banner de publicidad --------- */
.container {
  display: flex;
  margin-top: 0;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  position: relative;
  height: 200px;
  overflow: hidden;
  background-image: linear-gradient(to bottom right, #5944cf, #3f9e44);
  justify-content: flex-end;
}

.containerTwo {
  min-height: 50vh;
  align-items: center;
}

.card-container {
  position: relative;
  z-index: 1;
}

.image {
  width: 100%;
  object-fit: cover;
  clip-path: ellipse(100% 100% at 100% 50%);
  max-width: 600px;
  width: 100%;
  position: relative;
  height: 100%;
}

.banner {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  margin-left: 30px;
}

.bannerTitle {
  font-size: 3.5rem;
  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.bannerSubTitle {
  font-size: 3rem;
  color: var(--white);
  margin-top: 10px;
  font-style: italic;
}

/* ---------- RESPONSIVE - Banner de publicidad --------- */
@media screen and (max-width: 1120px) {
  .bannerTitle {
    font-size: 2.5rem;
  }
  .bannerSubTitle {
    font-size: 2rem;
  }
}
@media screen and (max-width: 920px) {
  .container {
    height: 150px;
  }
}
@media screen and (max-width: 720px) {
  .container {
    height: 100px;
  }
  .bannerTitle {
    font-size: 2rem;
  }
  .bannerSubTitle {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 520px) {
  .container {
    height: 120px;
  }
  .bannerTitle {
    font-size: 1.5rem;
  }
  .bannerSubTitle {
    font-size: 1rem;
  }
  .image{
    height: 100px;
  }
}
@media screen and (max-width: 399px) {
  .container {
    height: 120px;
  }
  .bannerTitle {
    font-size: 2rem;
    text-align: center;
  }
  .bannerSubTitle {
    font-size: 1rem;
    text-align: center;
  }
  .image{
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .container {
    height: 120px;
  }
  .bannerTitle {
    font-size: 2rem;
    text-align: center;
  }
  .bannerSubTitle {
    font-size: 1rem;
    text-align: center;
  }
  .image{
    display: none;
  }
}
/* ------------------------------------------------------  */
